@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Cabin:ital,wght@0,400..700;1,400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --cusfont: "Playwrite GB S", cursive;
}
/* .font2 {
    font-family: var(--cusfont) !important;
} */
.Home-img {
    filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3))
        drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.2))
        drop-shadow(30px 30px 30px rgb(0, 0, 0, 0.2));
}
.padding-x {
    @apply sm:px-16 px-8;
}
.padding-y {
    @apply sm:py-24 py-12;
}

/* result tABLE CSS  */

* {
    box-sizing: border-box;
    font: 300 1.125rem/1.5 system-ui;
}

caption {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* table {
    border-collapse: collapse;
    border-radius: 1rem;
    overflow: hidden;
    width: min(48rem, 100%);
    filter: drop-shadow(0 5px 15px #c1c1c1);
    margin-inline: auto;
}

thead {
    background: royalblue;
    color: white;
    border-radius: 1rem;

    th {
        font-weight: bold;
        padding-block: 0.5rem;
    }

    @media (width <= 32rem) {
        display: none;
    }
}

tr {
    position: relative;
    filter: drop-shadow(4px 4px 6px silver);
    z-index: var(--zi);

    &:not(:first-child)::after {
        content: "";
        position: absolute;
        right: 0;
        top: -2rem;
        width: 2rem;
        height: 2rem;
        background-color: var(--row-background);
        transition: background 200ms;
    }

    @media (width <= 32rem) {
        display: flex;
        flex-direction: column;
    }
}

tr:nth-child(4n + 1) {
    --row-background: honeydew;
}

tr:nth-child(4n + 2) {
    --row-background: lavenderblush;
}

tr:nth-child(4n + 3) {
    --row-background: aliceblue;
}

tr:nth-child(4n) {
    --row-background: lightcyan;
}

tr:hover {
    --row-background: papayawhip;
}

td {
    padding: 2rem 0.5rem;
    background-color: var(--row-background);
    transition: background 200ms;

    &:last-child {
        clip-path: polygon(
            0 0,
            100% 0,
            100% calc(100% - 2rem),
            calc(100% - 2rem) 100%,
            0 101%
        );

        &::after {
            position: absolute;
            bottom: 0;
            right: 0;
            content: "";
            border: 1rem solid
                color-mix(in srgb, var(--row-background, #c0c0c0), black 10%);
        }
    }

    @media (width < 32rem) {
        padding: 0.25rem 0.5rem;

        &::before {
            content: attr(data-title) ": ";
            font-weight: bold;
        }
    }
} */
footer {
    width: 100vw;
    position: fixed;
    bottom: 0px;
    height: 300px;
}
footer div {
    background-color: var(--col-deepblue);
    margin: -5px 0px 0px 0px;
    padding: 0px;
    color: #fff;
    text-align: center;
}
svg {
    width: 100%;
    overflow: visible;
}

.wave {
    animation: wave 3s linear;
    animation-iteration-count: infinite;
    fill: #a855f7;
}
.drop {
    fill: var(--col-deepblue);
    xfill: #99000055;
    animation: drop 3.2s linear infinite normal;
    stroke: var(--col-deepblue);
    stroke-width: 0.5;
    transform: translateY(25px);
    transform-box: fill-box;
    transform-origin: 50% 100%;
}
.drop1 {
}
.drop2 {
    animation-delay: 3s;
    animation-duration: 3s;
}
.drop3 {
    animation-delay: -2s;
    animation-duration: 3.4s;
}
.drop4 {
    animation-delay: 1.7s;
}
.drop5 {
    animation-delay: 2.7s;
    animation-duration: 3.1s;
}
.drop6 {
    animation-delay: -2.1s;
    animation-duration: 3.2s;
}
.gooeff {
    filter: url(#goo);
}
#wave2 {
    animation-duration: 5s;
    animation-direction: reverse;
    opacity: 0.6;
}
#wave3 {
    animation-duration: 7s;
    opacity: 0.3;
}
@keyframes drop {
    0% {
        transform: translateY(25px);
    }
    30% {
        transform: translateY(-10px) scale(0.1);
    }
    30.001% {
        transform: translateY(25px) scale(1);
    }
    70% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(-10px) scale(0.1);
    }
}
@keyframes wave {
    to {
        transform: translateX(-100%);
    }
}
.usereditform {
    position: absolute !important;
    top: 20% !important;
    left: 40% !important;
    z-index: 3; /* Ensure the form is above the blur-div */
}

.blur-div {
    position: absolute;
    top: 0;
    left: 0;
    /* filter: blur(6px) !important; */
    height: 100vh !important;
    width: 100vw !important;
    background: #2020209c !important;
    z-index: 1; /* Ensure the blur-div is below the form */
}

.editform {
    z-index: 2; /* This is now between the blur-div and the form */
}
