@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --cusfont: "Playwrite GB S", cursive;
}
/* .font2 {
    font-family: var(--cusfont) !important;
} */
.Home-img {
    filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3))
        drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.2))
        drop-shadow(30px 30px 30px rgb(0, 0, 0, 0.2));
}
.padding-x {
    @apply sm:px-16 px-8;
}
